* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #edf2f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2b2d42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: 0;
    background-color: #03045e;
    color: #FFF;
    font-size: 16px;
    width: 180px;
    height: 35px;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
}

input, select, textarea {
    padding: 4px;
    width: 230px;
}

input:hover,
select:hover,
textarea:hover {
    background-color: #e0f5f5;
}

.container {
    padding: 8px;
}